html
  head
    title Index Page
  body
    h1  #{name} ..! //{}오는 부분만 출력 data
    h2= description // 뒤에오는 전체부분이 출력data
    hr
    a(href="http://hanbit.co.kr", data-test="multiple Attribute") Go To hanbit Media
